{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["eslint-plugin-react", "@typescript-eslint/eslint-plugin"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "eslint-config-prettier"],
  "rules": {},
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
